<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>

  <%# <% @users.each do |user| %>
     <%# <%= render user %>
     <!-- => app/views/リソース名/_オブジェクト名.html.erb -->
  <%# <% end %>
  
</ul>

<%= will_paginate %>